.container{
    display: grid;
    grid-template-columns: 300px 1fr;
    margin: 40px 200px;
    gap: 50px;
}

.inbox{
    background-color: #272727;
    padding: 30px;
    border-radius: 20px;
    height: calc(75vh - 60px);
    overflow-y: scroll;
}

.inbox-head{
    font-size: 20px;
    text-align: center;
    color: #E59866;
    font-weight: 900;
    padding-bottom: 10px;
    border-bottom: 1px solid #E59866;
}

.grid{
    display: grid;
    grid-template-columns: 60px 1fr;
    margin-top: 15px;
    padding: 10px;
    background-color: #2c2a2a;
    border-radius: 20px;
    cursor: pointer;
}

.grid:hover{
    background-color: #3d3b3b;
}

.user-info{
    margin-top: -5px;
}

.user-name{
   color: #F4D03F; 
}

.last-text{
    color: #fff;
}

.readed{
    color: rgb(116, 116, 116);
}

.dot{
    font-size: 15px;
    color: #13AA52;
    margin-left: 26px;
    margin-top: 26px;
}

.chat-content{
    background-color: #272727;
    padding: 20px;
    border-radius: 20px;
    height: 70vh;
}

#aaaa{
    margin-bottom: 10px;
}

#bbbb{
    margin-bottom: 10px;
}

.chat-header{
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
}

.chat-header:hover{
    background-color: #e5996634;
}

.header-name{
    margin-left: 30px;
    font-size: 17px;
    line-height: 18px;
    font-weight: 800;
    color: #F4D03F; 
}

.chat-text{
    height: calc(80% - 10px);
    background-color: #202020;
    border-radius: 20px;  
    margin-bottom: 10px;
    padding-top: 5px;
    overflow-y: scroll;
}

.text{
    width: 80%;
}

input{
    font-size: 18px;
    border: 1px solid transparent;
    background-color: #202020;
    border-radius: 20px;
    width: 400px;
    padding: 5px;
    color: #fff;
}

input:focus{
    outline: none;
}

button{
    border: 1px solid transparent;
    background-color: #E59866;
    color: #fff;
    border-radius: 20px;
    font-size: 16px;
    padding: 7px 20px;
    cursor: pointer;
}

button:hover{
    background-color: #e49058;   
}

button:focus{
    outline: none;
}

.ham{
    font-size: 20px;
    margin-right:15px;
    color: #e49058;
    display: none;  
}


.sender{
    font-size: 16px;
    font-weight: 800;
    color: #F4D03F; 
    background-color: #272727;
    border-radius: 20px;
    padding: 8px 25px;
    text-align: justify;
    width: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
    max-width: 80%;
}

.receiver{
    font-size: 16px;
    font-weight: 800;
    color: #e49058; 
    background-color: #272727;
    border-radius: 20px;
    padding: 8px 25px;
    text-align: justify;
    width: fit-content;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    max-width: 80%;
}

.find{
    color: #e49058;
    text-align: center; 
    cursor: pointer;
    border: 1.5px solid #e49058;
    border-radius: 5px;
}

.find:hover{
    color: #fff;
    background-color: #e49058;
}

@media only screen and (max-width: 1300px){
    .container{
        margin: 40px 100px;
        gap: 30px;
    }
}

@media only screen and (max-width: 1100px){
    .container{
        margin: 40px 0px;
    }
}

@media only screen and (max-width: 900px){
    input{
        width: 300px;
    }
}

@media only screen and (max-width: 900px){
    .container{
        margin: 20px 0px;
        gap: 0;
    }
}

@media only screen and (max-width: 750px){
    .container{
        grid-template-columns: 1fr;
        margin-top: 0;
    }

    .inbox{
        padding: 20px 5px;
    }

    .chat-content{
        margin-bottom: 50px;
    }

    input{
        width: 65%;
    }

    .inbox{
        border-radius: 0;
        height: 100vh;
    }

    .ham{
        display: block;
    }

    .chat-content{
        /* display: none; */
        padding-top: 0;
        margin-top: 0;
        border-radius: 0;
        height: 90vh;
    }

    .find{
        margin: 0 20px;
    }
}