@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Mitr', 'Montserrat', sans-serif;
    transition: .3s ease;
}

body{
    background-color: #202020;
}

.navigation{
    padding: 10px;
    background-color: #272727;
    height: 40px;
}

.link{
    float: left;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 18px;
    color: #E59866;
    cursor: pointer;
    padding: 0 15px;
}

.link:hover{
    color: #F4D03F;
    background-color: #e599660e;
    border-radius: 20px;
}

.active{
    color: #F4D03F;
    cursor: context-menu;
}

.active:hover{
    background-color: transparent;
}

.profile-img{
    width: 30px;
    height: 30px; 
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile{
    height: 40px;
    border-radius: 20px;
    float: right;
    display: grid;
    grid-template-columns: 40px 1fr;
    margin-right: 20px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #e599660e;
}

.profile:hover{
    background-color: #e5996634;
}

.profile:hover .profile-name{
    color: #F4D03F;
}

.fas {
    margin-right: 10px;
}

.profile-name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 18px;
    color: #E59866;
}

.user{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0000008a;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control{
    background-color: #333333;
    color: #fff;
    width: 500px;
    padding: 30px 50px;
    border-radius: 40px;
    font-size: 18px;
}

.go-profile{
    display: flex;
    align-items: center;
    line-height: 18px;
    /* border-bottom: 1px solid #fff; */
    padding: 10px;
    cursor: pointer;
    margin-bottom: 30px;
    color: #E59866;
}

.control{
    background-color: #333333;
    color: #fff;
    width: 500px;
    padding: 30px 50px;
    border-radius: 40px;
    font-size: 18px;
}

.go-profile{
    display: flex;
    align-items: center;
    line-height: 18px;
    /* border-bottom: 1px solid #fff; */
    padding: 10px;
    cursor: pointer;
    margin-bottom: 30px;
    color: #E59866;
}

.go-profile:hover{
    background-color: #e6c85410;
}

.control-img{
    width: 40px;
    height: 40px; 
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.control-link{
    width: fit-content;
    padding-left: 20px;
    margin: 10px 0;
}

.control-link:hover{
    color: #E59866;
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    .navigation{
        position: fixed;
        bottom: 0;
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        z-index: 1;
    }

    .link{
        font-size: 0;
    }

    .link .fas{
        font-size: 18px;
    }

    .profile-name{
        font-size: 0;
        display: none;
    }
}